*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    scroll-behavior: smooth;
    /* font-family: 'Roboto', sans-serif; */
    font-family: sans-serif;
    /* font-family: 'Akaya Kanadaka', cursive; */
}
:root{
    --primary:indianred;
    --secondary:rgba(15, 10, 29, 0.849);
    --light: #2f3640;
}
header{
    width: 100%;
    height: 100vh;
}
.nav1{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 2px 0px 3px grey;
    text-align: center;

}

.nav1 .left{
    flex-basis: 50%;
    letter-spacing: 2px;
}
.nav1 .left a{
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    margin: 0 2px;
}
.nav1 .right{
    flex-basis: 50%;
}
.nav1 .right i{
   font-size: 20px;
   margin: 0 15px;
   padding: 8px;
   background-color: var(--primary);
   color: white;
   cursor: pointer;
   transition: 0.4s ease-out;
}
.nav1 .right i:hover{
    transform: rotate(360deg);
}
/* nav1-ends-here */
/* nav2-starts-here */
.nav2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    align-items: center;
    text-align: center;
}
.nav2 .nav2-left, .nav2 .nav2-center, .nav2 .nav2-right{
    flex-basis: 30%;
    cursor: pointer;
    margin: auto;
}
.nav2 .nav2-left i {
    margin-left: 15px;
}
.nav2 .nav2-center h1{
    font-size: 2rem;
    letter-spacing: 5px;
    color: var(--primary);
    font-weight: bold;
}
.nav2 .nav2-center h1 span{
    color: var(--secondary);
}
.nav2 .nav2-center p{
    color: grey;
    margin-top: 5px;
    font-size: 15px;
}
.nav2 .nav2-right i{
    margin: 0 5px;
}
/* nav2-ends-here */
/* nav3-starts-here */
.nav3{
    width: 100%;
    height: 70px;
    line-height: 70px;

}
.nav3 ul{
    list-style: none;
    text-align: center;
}
.nav3 ul li{
    display: inline-block;
    width: 150px;
    position: relative;
    z-index: 99;
}
.nav3 ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    display: block;
}
.nav3 ul li a:hover{
    color: var(--primary);
}
.nav3 ul li i{
    color: var(--primary);
    margin: 0 5px;
}
.nav3 ul ul{
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
}
.nav3 ul ul li{
    background-color: white;
    border-bottom: 1px solid var(--primary);
}
.nav3 ul li:hover>ul{
    display: block;
}
/* nav3-ends-here */

/* FeaturePhoto-starts-here */
.featured{
    width: 100%;
    height: 60vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(255, 255, 255, 0.2)),
     url("images/cutfeatured.jpg");
    block-size: cover;
    background-position: top;
    position: relative;

}
.featured-text{
    max-width: 500px;
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: 'Akaya Kanadaka', cursive;
    

}
.featured-text button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--secondary);
    margin: 20px 0px;
    color: white;
}


/* latest section starts here */
.latest{
    padding: 50px 100px;

}
.product-intro{
    text-align: center;

}
.product-intro h1{
    color: var(--primary);
    letter-spacing: 0.2rem;
    font-size: 2rem;
}
.product-intro span{
    color: var(--secondary);
}
.product-intro p{
    color: grey;
    margin: 15px 0px;
}
.card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 4rem 0;
}
.card{
    flex-basis: 20%;
    padding: 0.8rem;
    position: relative;
}
.card img{
    width: 100%;
    transition: 0.5s ease-in-out;
}
.card i{
    color: goldenrod;
    margin: 10px 0;
}
.card button{
    color: white;
    background-color: var(--secondary);
    margin-top: 15px;
    border: none;
    outline: none;
    padding: 5px 20px;
}
.card:hover img, .card:hover h2{
    width: 80%;
    color: var(--primary);
}
.card::before{
    content: "20% off";
    width: 25%;
    height: 25px;
    line-height: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    padding: 0px 4px;
    transform: rotate(-20deg);
}
/* latest section ends here */


/* popular section starts here */


/* popular section starts here */
/* trends section starts here */
.trends{
    padding: 50px 100px;
    background-color: #f8f4f4;
}
.trends .swiper {
    width: 100%;
    padding: 50px;
}

.trends .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.trends .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}
/* footer section starts here */
footer{
    background-color: var(--secondary);
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    padding: 2rem;
}
footer div{
    flex-basis: 30%;
}
footer h1{
    letter-spacing: 0.5rem;

}
footer div a {
    color: white;
}
footer h1 span{
    color: var(--primary);
}
footer p{
    font-size: 1rem;
}
footer i{
    margin: 0px 5px;
}
/* now lets work on responsiveness of the website */
@media only screen and (max-width: 799px) {
    .nav1{
        position: relative;
        z-index: 2;
        background-color: white;
    }
    .nav1 .right i{
        font-size: 10px;
        margin: 0 5px;
    }
        .nav2 {
            width: 100%;
            height: 80px;
        }
    
        .nav2 .nav2-left i{
            margin-left: opx;
        }
        .nav2 .nav2-center h1{
            font-size: 1.2rem;
            letter-spacing: 2px;
        }
        .nav2 .nav2-center p{
            color: grey;
            font-size: 10px;
            margin-top: 5px;
        }
        .nav2 .nav2-right i{
            margin: 0 5px;
        }
        .nav3{
            display: none;
        }
        .featured{
            background-attachment: fixed;
        }
         
        

   
}
